Flask
gevent
gunicorn
requests
Pillow
Theano
Werkzeug
apscheduler

SQLAlchemy


#mysql-connector-python
beautifulsoup4

flask-login
Flask-SQLAlchemy
flask-migrate
flask-bootstrap
#mysql-python
mysqlclient
#Cython
#git+git://github.com/kivy/pyjnius.git
Flask-WTF
wtforms_components
