{% extends "admin/base.html" %}


{% block body %}

<!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Keywords</h3>
              </div>




              <!-- /.card-header -->
              <!-- form start -->
              <form role="form" action="/admin/keyword/create" method="post" enctype="multipart/form-data">

                <div class="card-body">

                <div class="col-lg-10">


                  <div class="form-group">
                    <label for="ch_word">ch_word</label>
                    <input type="text" class="form-control" id="ch_word" name="ch_word" placeholder="Enter ch_word" >
                  </div>



                  <div class="form-group">
                    <label for="en_word">en_word</label>
                    <input type="text" class="form-control" id="en_word" name="en_word" placeholder="Enter en_word :ex=(word1,word2)">
                  </div>

                </div>


			</div>

				
		        <!-- /.col-->

                <div class="card-footer">
                  <button type="submit" onclick="indexing_in_process()" class="btn btn-primary">Submit</button>
                  <a href="/admin/keyword/show" class="btn btn-warning">Back</a>

                </div>

				</form>
               </div>


<script type="text/javascript">
function indexing_in_process() {
  alert("data are being indexed , it might take 2 to 3 minutes to finish !");
}
</script>

{% endblock %}