{% extends "admin/base.html" %}


{% block body %}

<!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Domains</h3>
              </div>




              <!-- /.card-header -->
              <!-- form start -->
              <form role="form" action="/admin/domain/edit/{{item.id}}" method="post" enctype="multipart/form-data">

                <div class="card-body">

                <div class="col-lg-10">


                  <div class="form-group">
                    <label for="url">userurl</label>
                    <input type="text" class="form-control" id="url" name="url" placeholder="Enter url" value="{{item.url}}">
                  </div>

                </div>


			</div>

				
		        <!-- /.col-->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Submit</button>
                  <a href="/admin/domain/show" class="btn btn-warning">Back</a>

                </div>

				</form>
               </div>


{% endblock %}